header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgb(32, 32, 32);
  height: 80px;
  color: white;
  padding: 0px 20px;
  margin-bottom: 20px;
}
.swiper-slide {
  display: flex !important;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  flex-shrink: initial !important;
}
.url-tg {
  font-size: 15px;
}
span {
  font-size: 18px;
  margin-right: 20px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
h2 {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
h2 {
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 700;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 10%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 18px;
  margin-top: 20px;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  background: #202020 !important;
}
.prev {
  transition: 0.3s;
  width: fit-content;
}
.next {
  transition: 0.3s;
  width: fit-content;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
.swiper-pagination-bullet {
  background: #696969 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #202020 !important;
  opacity: 1 !important;
}
main {
  padding: 0px 40px;
}

.container {
  display: block;
}

.description-slide {
  font-size: 20px;
  max-width: 200px;
}
.swiper-pagination {
  position: absolute;
}
section {
  position: relative;
}
.swiper-wrapper{
  display: flex;
  align-items: center;
 
}
@media (max-width: 1920px) {
  .name-slide {
    display: flex;
    justify-content: left;

    width: 208px;
    cursor: pointer;
    border-radius: 6px;
  }
  .button-container{
    display: none;
  }
}
@media (max-width: 1280px) {
  .swiper-slide {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    flex-shrink: 0 !important;
  }
  .button-container{
    display: flex;
  }
  .description-slide {
    font-size: 20px;
    max-width: 400px;
  }
  .swiper-slide {
    display: flex !important;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  main {
    padding: 0px 20px;
  }
}
@media (max-width: 480px) {
  .description-slide {
    font-size: 16px;
  }

  .name-slide {
    display: flex;
    justify-content: left;

    width: 50%;
    cursor: pointer;
    border-radius: 6px;
  }
  .description-slide {
    font-size: 20px;
    max-width: 200px;
  }
  .swiper-slide {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    flex-shrink: 0 !important;
  }
}
